<CraftConfig>
<UIMapFileDir>uimap</UIMapFileDir>
<UIMapFile>UImappings.xml</UIMapFile>
<ScriptTimeoutinSeconds>30</ScriptTimeoutinSeconds>
<WaitForSeconds>60</WaitForSeconds>
<PollingSeconds>1</PollingSeconds>
<!-- Template's path prefix for tree traversal while creating or opening an existing page -->
</CraftConfig>